/*隐藏左侧区域*/
.leftMenu {
        display: none;
}


.rightContent{
	margin-left:0px;
}


.rightContent .container-fluid{
	padding:0px !important;
}

.col-md-12 .additional{padding:0px;}

.col-md-12 {
	padding:0px  !important;
}

.colContent {
	margin:0px !important;
}