.inner {
	margin: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: 0 0 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,0.1);
	box-shadow: 0 0 0px rgba(0,0,0,0.1);
	background: #fff;
}

.rightContent .plugMain+.plugMain {
	margin-top: 0px;
}


.shangyuan, .shangyuan .inner{
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;

}

.shangyuan .content{
	float: left;
}



.xiayuan, .xiayuan .inner{
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;

}

/* .xiayuan {
height:600px !important;
}
*/


/* .search-list-body, .ps-container .ps-active-y{
	height:560px !important;
}

.border{
	height:590px !important;
}
 */
.__ggj__, .main .search-wrap .search-list .search-list-body .content {
/*     margin-top: 15px;
    margin-bottom: 30px;  */
}

.b-plugin-content {
    padding-top: 0px;
	padding-bottom: 0px;
}

.xiayuan .__ggj__{
	margin-bottom: 15px
}


/*隐藏左侧区域*/
.leftMenu {
	display: none;
}
.rightContent {
	margin-left: 0
}
/*隐藏左侧区域*/



/*隐藏左侧小按钮*/
.plugin-nav i.nav-Shrink {
	display: none;
}
/*隐藏左侧小按钮*/


.container-fluid .row{
	background-color: white;
}