/**新闻行**/
/* .container >div:nth-child(3){
padding-top:20px;
}
*/
/**热搜行**/
/* .container> div:nth-child(4){
padding-top:20px;
} */

/**地图行**/
/* .container >div:nth-child(5){
padding-top:20px;
} */

/**风采行**/
/* .container >div:nth-child(6){
padding-top:20px;
}  */

/**底部**/
/* .container >div:last-child{
padding-top:30px;
}
*/

/************* 首页  一闪而过 布局靠上修改  *********/
#pageEdit {
	visibility: hidden;
}
.fixContent #pageEdit {
	visibility: visible;
}

/**************inbiz组件的标题************/
.b-plugin-title .text
{
	font-size: 20px !important;
	font-weight: normal !important;
	color: #1989fa !important;

}

/***1、  归档量、文件集档案总量、案卷集文件总量、借阅量***************************/
.main >div >div {
	min-height:0px !important;
}
.main >div:first-child >div >div{
	margin-top:0px !important;
}



/***2、新闻公告 图片 newsPanel***************************************************/
.newsPanel{
	height:457px;
}

.newsPanel .theme-default .nivoSlider{
	height:388px;
}
.nivoSlider img{
	height:388px;
}

.newsPanel .b-plugin-body{
	padding: 0 20px 20px 20px;
}

.newsPanel >div{
	box-shadow:rgba(0,0,0,0.1) 0px 0px 0px;
	border-radius: 4px 0px 0px 4px;
	height:auto;
}

.specialAlbum .nivo-caption{
	height: 34px !important;
	line-height: 34px !important;
	padding: 0 0 0 20px !important;
}

/***2.1、新闻公告 图片 标题 newsPanel**********************************/
/*隐藏新闻图片标题的图标**/
.newsPanel >div >div > i{
	display:none;
}
.b-plugin-title{
	border-bottom:none;
	padding-top:10px;
	padding-bottom:4px;
}


.b-plugin-title .text{
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 1px;
	color: #254282;
}


/***2.2、新闻公告 图片 切换********************************************************/

/**新闻图片**/
.newsPanel .mouse-wheel-buttons{
	left:0px
}

/**新闻图片切换**/
.newsPanel .mouse-wheel-buttons >a .prev{
	left:10px;
}

.newsPanel .mouse-wheel-buttons >a .next{
	left:600px;
}



/****3、要闻、通知公告、档案热点**************************************************/
.tabNews{
	height:457px;
}
.tab-cont, .tab-cont >div{
	height:367px;
}

.tabNews >div{
	height:441px;
	box-shadow:rgba(0,0,0,0.1) 0px 0px 0px;
	border-radius:0px 4px 4px 0px;
}
.tabNews >div .b-plugin-body{
	height:425px;
}

.tabNews >div .b-plugin-content >div {

	padding-top:30px;

}

.textlist-titinfo{
	line-height:31px;
}

/***要闻、通知公告、档案热点  主体内容**/
.tabNewsContent .textlist-titinfo{
	line-height:31px;
}

.tabNewsContent .textlist-titinfo-left{
	width: -webkit-calc(100% - 120px);
}

.tabNews .b-plugin-body{
	overflow-y:hidden;
	height:437px;
}

/********************************4、热搜词*******************************************************************/


/********5、*地图************************************************************************************/
.archMap >div{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 4px !important;
	padding:0px 20px 20px 20px;
}
.archMap >div >div >i{
	display:none;
}
.archMap .b-plugin-content{
	padding-top: 0px;
}


/*****6、档案风采*******************************************************************************/
.archImgPanel >div{
	height:251px;
}

.archImgPanel >div{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 4px !important;
}


.archImgPanel >div >div > i{
	display:none;
}
.archImgPanel >div >div >span{
	padding-left:20px;
}

.archImgPanel .mouse-wheel-buttons{
	width:auto !important;
	margin:0px;
	left:20px;
}

.archImgPanel .custom-container >a.prev{
	left:23px !important;
}

.archImgPanel a.prev,.archImgPanel a.next{
width: 30px;
}

.archImgPanel a.prev:hover{
	background:url('/resourcefiles/8fa0a145-867c-43eb-8231-2bc59e202923.png?system_var_rootId=$system_var_rootId$') center center no-repeat;
	background-size: 30px 30px;
	background-color: transparent!important;
}
.archImgPanel a.next:hover{
	background:url('/resourcefiles/04e650b8-7091-4508-93c5-750f83631054.png?system_var_rootId=$system_var_rootId$') center center no-repeat;
	background-size: 30px 30px;
	background-color: transparent!important;
}

.archImgPanel .custom-container >a.next{
	right:50px !important;
	position:absolute;
	left: auto !important;
}

.archImgPanel .focusimage-content-listpicture{
	left:0px !important;
}
.archImgPanel >div .b-plugin-content{
	/*height:180px;*/
	width: calc(100% - 20px);
	overflow-x: hidden;
}
.archImgPanel {
	margin-bottom:15px;
}



/*顶部导航字体颜色*/

.Menu .s-welcome-right-info li, .Menu .s-welcome-logout a {
	color: #FFFFFF;
}
.s-welcome-right  .s-welcome-right-info  .s-welcome-logout{
	color: #FFFFFF;
}

/*顶部导航颜色*/



/*隐藏左侧区域*/
.leftMenu {
	display: none;
}
.rightContent {
	margin-left: 0
}
/*隐藏左侧区域*/



/*隐藏左侧小按钮*/
.plugin-nav i.nav-Shrink {
	display: none;
}
/*隐藏左侧小按钮*/




.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12
{
	padding-left:0px;
}