/*隐藏左侧小按钮*/
.plugin-nav i.nav-Shrink {
       display: none;
}
/*隐藏左侧小按钮*/

     /*顶部导航字体颜色*/

        .Menu .s-welcome-right-info li, .Menu .s-welcome-logout a {
            color: #FFFFFF;
        }
        .s-welcome-right  .s-welcome-right-info  .s-welcome-logout{
            color: #FFFFFF;
        }

        /*顶部导航颜色*/